/* sub navigation
-------------------------------------------------- */
div.affix-container {
    // When the div's content takes on fixed positioning, the div becomes empty and thus takes up no space.
    // So, we give it min-height:1px ensure it still takes up width to hold its column.
    min-height: 1px;
}

nav#sub-nav > ul {

    > li:first-child a {
        .border-top-left-radius(6px);
        .border-top-right-radius(6px);
    }

    > li:last-child a, > li:last-child > ul > li:last-child a {
        .border-bottom-left-radius(6px);
        .border-bottom-right-radius(6px);
    }
}

nav#sub-nav ul {
    margin: 0px;
    padding: 0px;

    i.icon-chevron-right {
        float: right;
        display: block;
        margin-top: 6px;
        opacity: 0.25; // this is an icon; its opacity fails on IE 8; that's OK.
    }

    li {
        white-space: nowrap;

        a {
            border: thin solid @grayLight;
            font-weight: 600;
            margin-right: -15px;
            overflow: hidden;

            &:hover {
                cursor: pointer; // for links without an href
            }

            margin-left: 5px;
            padding: 5px 15px;
        }

        &.contact {
            // for a contrast to make the contact info pop
            a {
                font-weight:normal;
                background-color: @grayLighter;
            }
            // for the contact info icons
            i {
                margin-right: 8px;
                margin-top: 12px;
            }
        }

        ul {
            li a {
                font-weight: 500;
                padding-left: 50px;
            }
        }
    }
}























/* General Events
++++++++++++++++++++++++++++++++++++++++++ */

/* Larger screens
------------------------- */
@media (min-width:1200px) {

    div.affix-container {
        padding-top: @mainNavbarStaticCorrection;
    }

    nav.affix {
        top: @mainNavbarStaticCorrection;
        .bigfont-spanX(@navSpanX, @gridColumnWidth1200, @gridGutterWidth1200);
    }

    section {
        padding-top: @mainNavbarStaticCorrection;
    }
}

/* Before Navbar Collapses
------------------------- */
@media (min-width:981px) and (max-width: 1199px) {

    div.affix-container {
        padding-top: @mainNavbarStaticCorrection;
    }

    nav.affix {
        top: @mainNavbarStaticCorrection;
        .bigfont-spanX(@navSpanX, @gridColumnWidth, @gridGutterWidth);
    }

    section {
        padding-top: @mainNavbarStaticCorrection;
    }
}

/* After Navbar Collapses and Before Spans Stack
------------------------- */
@media (max-width:980px) {

    div.affix-container {
        padding-top: @intraNavigationTopPadding;
    }

    nav.affix {
        top: @intraNavigationTopPadding;
        .bigfont-spanX(@navSpanX, @gridColumnWidth768, @gridGutterWidth768);
    }

    section {
        padding-top: @intraNavigationTopPadding;
    }
}

/* After Spans Stack
------------------------- */
@media (max-width:767px) {

    nav.affix {
        position: static;
        width: auto; // width auto isn't entirely necessary.
        i.icon-chevron-right {
            display: none;
        }
    }

    div.affix-container {
        padding-top: 30px;
    }

    section {
        padding-top: 30px;
    }
}
